*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul ol {
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6{
line-height: 0.8;
}

#jsgame{
    background: rgb(179, 255, 0) no-repeat;

}
.container{
    height: 1320px;
    /* margin: 0 auto; */
    display: flex;
    align-items: center;
}
.pageone h1 {
    text-align: center;
    padding-top: 205px;
    font-size: 48px;
    font-family: bold;
}
.pageoneinpute {
    width: 796px;
    height: 112px;
    align-items: center;
    border-radius: 79px;
    margin: 36px 286px;
    font-size: 32px;
    padding-left: 30px;
    border: none;
}
.error{
    width: 147px;
    height: 100px;
    text-align: center;
    margin-left: 615px;
}
.startgamebtn{
    width: 362px;
    height: 78px;
    background: #7041D3;
    border-radius: 53px;
    margin: 36px 505px;
    border: none;
    font-size: 32px;
}
.pagetwo h1{
    text-align: center;
    padding-top: 205px;
    font-size: 48px;
    font-family: bold;
}
.pagetwoinpute{
    width: 796px;
    height: 112px;
    align-items: center;
    border-radius: 79px;
    margin: 36px 286px;
    font-size: 32px;
    text-align: center;
    border: none;
}
.no {
    width: 410px;
    height: 35px;
    background: red;
    color: white;
    margin-left: 489px;
}
.playbtn{
    width: 362px;
    height: 78px;
    background: #7041D3;
    border-radius: 53px;
    margin: 36px 505px;
    border: none;
    font-size: 32px;
}
.pagethree h1{
    text-align: center;
    padding-top: 205px;
    font-size: 48px;
    font-family: bold;
}
.pagethree h2{
    text-align: center;
    padding-top: 20px;
    font-size: 48px;
    font-family: bold;
}
.pagethreeinpute{
    width: 796px;
    height: 112px;
    align-items: center;
    border-radius: 79px;
    margin: 36px 286px;
    font-size: 32px;
    text-align: center;
}
.guessbtn{
    width: 362px;
    height: 78px;
    background: #7041D3;
    border-radius: 53px;
    margin: 36px 505px;
    border: none;
    font-size: 32px;
}
.game-result {
    text-align: center;
    font-size: 80px;
    padding-top: 222px;
}
.pagetwo{
    display: none;
}
.pagethree{
    display: none;
}
.result{
    display: none;
}
